@font-face {
  font-family: Montserat;
  src: url(./MontserratAlternates-ExtraLight.otf);
}

:root {
  --font-standard: Montserat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --color-01: #F4F4F4; /* General background */
  --color-02: #FFFFFF; /* Header/Footer/Card background */
  --color-03: #89CFF0; /* Accent Color 1 */
  --color-04: #B9E6DA; /* Accent Color 2 */
  --color-05: #C0C0C0; /* Task Card border */
  --color-06: #D3E5E7; /* Completed task */
  --color-07: #FF6F61; /* Delete/Alert color */
  --color-08: #; /*  */
  --color-09: #; /*  */
  --color-10: #; /*  */
  --color-text-1: #333333; /* Primary text */
  --color-text-2: #666666; /* Secondary text */

}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body,
html {
  font-family: var(--font-standard);
  color: var(--color-text-1);
  background-color: var(--color-01);
  text-align: center;
}

#btn-add-todo{
  background-color: var(--color-03);
  padding: 0.5rem;
  border-radius: 8px;
}

#btn-add-todo:hover{
  background-color: var(--color-05);
}

/* Modal Container */

#container-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#content-modal {
  width: max-content;
  height: max-content;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0.5rem;
  background-color: var(--color-03);
  border-radius: 8px;
}

/* To-Do Card */

#todo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 auto;
  border: 1px solid var(--color-05);
  border-radius: 16px;
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: 150px;
  max-width: 500px;
}

#todo-card-infos {
  display: flex;
  align-items: start;
  text-align: start;
  flex-direction: column;
  margin: 0.5rem;
}

.btn-task-finished {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--color-03);
}

.btn-task-finished:hover {
  background-color: var(--color-04);
}

.btn-task-finished.active {
  border: 1px solid var(--color-07);
}

.btn-task-icon {
  width: 30px;
  height: 30px;
  opacity: 0.2;
}

.btn-task-icon.active {
  opacity: 1;
}

#todo-card-infos > p {
  margin: 0.125rem;
}

#todo-card .btn-delete-todo-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-07);
  width: 30px;
  height: 30px;
  border-radius: 8px;
}

.btn-task-delete {
  width: 20px;
  padding:0.125rem;
}

/* Form */

#form-todo-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form label {
  text-align: start;
  margin: 0.25rem;
}

form input {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

form button {
  padding: 0.25rem;
  border-radius: 0.5rem;
}

#form-todo-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  cursor: pointer;
}